@model IEnumerable<PropertyRentals.Models.Tenant>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Tenants</h1>
@* 
    <p>
        <a asp-action="Create">Create New</a>
    </p> *@
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>
                    User Id
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tenant in ViewBag.Tenants)
            {
                <tr class="table-active">
                    <td>
                        @tenant.User.FirstName
                    </td>
                    <td>
                        @tenant.User.LastName
                    </td>
                    <td>
                        @tenant.User.Email
                    </td>
                    <td>
                        @tenant.User.Phone
                    </td>
                    <td>
                        @tenant.User.UserId
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@tenant.Tenant.TenantId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@tenant.Tenant.TenantId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@tenant.Tenant.TenantId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
