@model IEnumerable<PropertyRentals.Models.Rental>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndContractDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndContractDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apartment.ApartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenant.TenantId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RentalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RentalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RentalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
